*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 64px;
    font-family: 'Raleway Thin', sans-serif;
    background-image: url("back.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}
main{
    background-color: rgba(244, 244, 244, 0.7);
    border-radius: 10px;
    padding: 2vw 8vw;
    min-width: 1100px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 16px;
}
form>p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 4px;
}
label{
    display:block;
}
input,select{
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 1rem;
}
input[type="submit"]{
    background-color: #343534;
    color: white;
    cursor: pointer;
    border-color: #343534;
    transition:background-color 0.6s ease-in-out, color 0.6s ease-in-out;
}
input[type="submit"]:hover{
    background-color: #f4f4f4;
    color: #3c3e3c;
}
h1{
    font-size: 4rem;
    text-align: center;
    color: #3c3e3c;
}
h3{
    padding-bottom: 32px;
    font-size: 1.2rem;
    text-align: center;
    color: #343534;
}
h2{
    font-size: 2rem;
    text-align: center;
    color: #343534;
    padding-bottom: 16px;
}

h4{
    font-size: 1.4rem;
    text-align: center;
    color: #343534;
    padding-bottom: 16px;
}